# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Annoying files
.DS_Store
*~
*.tlb
*.sln
*.sdf
*.suo
*.exe
*.ilk
*.pdb
*.ncb

# Project gen files
*.vcxproj*
*.vcproj*
*_i.c
*_p.c
dlldata.c

# VS directories
Debug/
Release/
ipch/
lib/